@use "/src/assets/styles/theme";
@use "/src/assets/styles/variables";

.balanceContainer {
  display: flex;
  color: theme.$grey-800;
  font-family: AvenirNextRoundedPro-Reg, sans-serif;
  font-size: 14px;
  border-left: 1px solid theme.$grey-200;
  border-right: 1px solid theme.$grey-200;
  height: auto;
  padding: 0 14px;
  margin-left: 10px;
  align-items: center;
}

.balanceValue {
  color: theme.$grey-800;
  padding-right: 4px;
}

.balanceTicker {
  color: theme.$grays-500;
}
