.treesAreaImg {
    position: absolute;
    width: 100%;
    object-fit: contain;
    margin: 0 0 0 29.7px;
    z-index: 3;
}

.treesArea {
    position: absolute;
    top: 0;
    right: 0;
    left: 400px;
}

.treesArea1 {
    top: -195px;
    right: 26px;
    max-height: 926px;
}

.treesArea2 {
    transform: rotate(-722deg);
    top: -124px;
    right: 50px;
    max-height: 823px;
}

.treesArea3 {
    top: -38px;
    right: 81px;
    max-height: 712px;
}

.treesArea4 {
    top: 78px;
    right: -24px;
    max-height: 403px;
}

.treesArea5 {
    top: 141px;
    right: -28px;
    max-height: 289px;
}

.treesArea6 {
    top: 200px;
    right: -33px;
    max-height: 185px;
}

.treesArea7 {
    top: 370px;
    right: 243px;
    max-height: 239px;
}

.treesArea8 {
    top: 415px;
    right: 242px;
    max-height: 160px;
}

.treesArea9 {
    top: 452px;
    right: 242px;
    max-height: 92px;
}

.tree {
    position: absolute;
    width: 76px;
    height: 76px;
    z-index: 999;
    transition: 0.2s ease-in-out;
}

.tree:hover {
    filter: hue-rotate(180deg);
    cursor: pointer;
}

.tree1 {
    position: absolute;
    width: 76px;
    height: 76px;
    right: 164px;
    top: 399px;
}

.tree2 {
    right: 470px;
    top: 448px;
}

.tree3 {
    right: 454px;
    top: 289px;
    width: 125px;
    height: 135px;
}

.tree4 {
    right: 158px;
    top: 157px;
    width: 108px;
    height: 111px;
}

.tree5 {
    right: 412px;
    top: 78px;
}

.tree6 {
    right: 519px;
    top: 190px;
}

.tree7 {
    right: 350px;
    top: 198px;
    width: 82px;
    height: 83px;
}

.tree8 {
    position: absolute;
    width: 77px;
    right: 719px;
    top: 411px;
}

.tree9 {
    right: 279px;
    top: 71px;
}

.tree10 {
    top: 566px;
    right: 664px;
}

