@use '/src/styles/theme';
@use '/src/styles/variables';
@use '/src/styles/mixins';

.backgroundContainer {
  display: flex;
  min-height: 100vh;
  background: theme.$grays-50 url('../../assets/images/sky/sky@2x.png') no-repeat;
  background-size: cover;
  background-position-x: 451px;
  background-position-y: -70px;
  z-index: variables.$low-order;
}

.container {
  max-width: 1240px;
  margin: auto;
  padding-bottom: 2.4em;
  padding-top: 10rem;
}

.treeImage {
  width: 632px;
  height: 712px;
  object-fit: contain;
  max-height: 540px;

  @include mixins.media-to-md {
    width: 100%;
    max-height: 430px;
    margin-top: 80px;
    height: auto;
  }

  @include mixins.media-to-xs {
    max-height: 300px;
  }
}

.plantingFormWrapper {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 150px;

  @include mixins.media-to-md {
    flex-direction: column;
    padding-top: 0;
  }
}

.plantingForm {
  padding-top: 32px;
  padding-left: 10px;

  @include mixins.media-to-md {
    padding-top: 100px;
    padding-left: 0;
  }
}

.formHeader {
  margin-bottom: 26px;
}

.formLabel {
  font-family: Moranga-Medium, sans-serif;
  font-size: 18px;
  color: theme.$grey-800;
  width: 100%;
}

.inputWrapper {
  margin-bottom: 0;
}

.statusText {
  margin-top: 20px;
  margin-left: 8px;
  color: theme.$salmon;
  font-family: AvenirNextRoundedPro-Demi, sans-serif;
}

.faucetLink {
  text-decoration: underline;
  color: theme.$indigo-500;
  cursor: pointer;
}
