@use '/src/styles/theme';
@use '/src/styles/variables';

.backgroundContainer {
  min-height: 100vh;
  background: theme.$grays-50 url('../../assets/images/sky@2x.png') no-repeat;
  background-size: cover;
  background-position-x: 451px;
  background-position-y: -70px;
  z-index: variables.$low-order;
}

.container {
  max-width: 1240px;
  margin: auto;
  padding-bottom: 2.4em;
  padding-top: 10rem;
}

.skyImage {
  position: absolute;
}

.treeImage {
  width: 632px;
  height: 712px;
  object-fit: contain;
}

.plantingFormWrapper {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.plantingForm {
  padding-top: 32px;
  padding-left: 10px;
}

.select {
  width: 512px;
}

.textarea {
  height: 176px !important;
}

.formHeader {
  margin-bottom: 26px;
}

.formLabel {
  font-family: Moranga-Medium, sans-serif;
  font-size: 18px;
  color: theme.$grey-800;
  width: 100%;
}

.inputWrapper {
  margin-bottom: 0;
}

.statusText {
  margin-top: 20px;
  margin-left: 8px;
  color: #c1656e;
  font-family: AvenirNextRoundedPro-Demi, sans-serif;
}

.faucetLink {
  text-decoration: underline;
  color: #714fec;
  cursor: pointer;
}
