@use "/src/assets/styles/theme";
@use "/src/assets/styles/variables";

.backgroundContainer {
  min-height: 100vh;
  background: theme.$grays-50 url('../../assets/images/sky@2x.png') no-repeat;
  background-size: cover;
  background-position-x: 451px;
  background-position-y: -70px;
  z-index: variables.$low-order;
}

.container {
  max-width: 1240px;
  margin: auto;
  padding-bottom: 2.4em;
  padding-top: 10rem;
}

.skyImage {
  position: absolute;
}

.plantingFormWrapper {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.plantingForm {
  padding-top: 32px;
  padding-left: 10px;
}

.select {
  width: 512px;
}

.textarea {
  height: 176px !important;
}

.formHeader{
  margin-bottom: 26px;
}

.formLabel {
  font-family: Moranga, sans-serif;
  font-size: 18px;
  color: theme.$grey-800;
  width: 100%;

}
.inputWrapper {
  margin-bottom: 0;
}
