@use '/src/styles/theme';
@use '/src/styles/mixins';

.backgroundContainer {
  background: theme.$grays-50;
  min-height: 100vh;

  &.backgroundImg {
    background: url('../../assets/images/sky/sky.png') no-repeat;
    background-size: cover;
    background-position-x: 451px;
    background-position-y: -70px;
  }
}

.treeInfoContainer {
  max-width: 1240px;
  margin: auto;
  padding-bottom: 4.4em;
  padding-top: 10rem;

  @include mixins.media-to-sm {
    padding-top: 0;
  }
}
