@use '/src/styles/theme';
@use '/src/styles/mixins';

.backgroundContainer {
  background: theme.$grays-50;
  min-height: 100vh;

  &.backgroundImg {
    background: url('../../assets/images/sky/sky.png') no-repeat;
    background-size: cover;
    background-position-x: 451px;
    background-position-y: -70px;
  }
}

.treeInfoContainer {
  margin: auto;
  padding-top: 94px;
  padding-bottom: 80px;
}
