@use 'src/assets/styles/variables';
@use 'src/assets/styles/theme';

.modalContainer {
  position: absolute;
  border-radius: 24px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.02), 0 8px 8px -2px rgba(0, 0, 0, 0.02), 0 16px 16px -4px rgba(0, 0, 0, 0.03), 0 32px 32px -8px rgba(0, 0, 0, 0.04), 0 64px 64px -12px rgba(0, 0, 0, 0.03);
  width: 488px;
  background: white;
  right: 12px;
  padding: 16px;
  top: 62px;
  z-index: 999;
  flex-wrap: wrap;
  transition: .2s ease-in;
}

.modalContent {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  margin: auto;
}

.errorConnectionBlock {
  margin: auto;
}

.address {
  font-family: AvenirNextRoundedPro-Reg, sans-serif;
  font-size: 18px;
}

.addressBlockBottom {
  color: theme.$indigo-500;
  font-family: AvenirNextRoundedPro-Reg, sans-serif;
  font-size: 12px;
}

.connectionBlock {
  display: flex;
  align-items: center;
  padding-top: 24px;
}

.connectionBlockSuccessState {
  display: flex;
  align-items: center;
  padding-right: 12px;
}

.connectionCircle {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.connectionImage {
  width: 28px;
}

.addressInfoBlock {
  display: flex;
  flex-wrap: wrap;
  margin-left: 12px;
  padding: 10px 0;
  align-items: center;
}

.addressBlock, .addressBlockBottom {
  width: 100%;
}

.modalFooter {
  text-align: center;
  font-size: 18px;
  color: theme.$grey-800;
  font-family: AvenirNextRoundedPro-Reg, sans-serif;
}

.modalTitle {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: Moranga, sans-serif;
  font-size: 22px;
  color: theme.$grey-800;
  padding-top: 16px;
}

.modalFooterWrongNetwork {
  display: block;
  text-align: center;
  padding-top: 28px;
  line-height: 1.4;
  width: 100%;
}

.footerSubtext {
  display: block;
  max-width: 373px;
  margin: auto;
}

.buttonText {
  font-family: AvenirNextRoundedPro-Demi, sans-serif;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: theme.$indigo-500;
}

.modalFooterUserNotFound {
  padding-top: 6px;
}

.errorModalContainer {
  padding: 16px;
}

.modalFooterButton {
  width: 100%;
  height: 56px;
  padding: 16px;
  border-radius: 160px;
  margin-top: 26px;
  background-color: #7c5cff12;
  box-shadow: inset 0 -1px 0 0 rgba(124, 92, 255, 0.1);
  cursor: pointer;
  transition: .2s ease;

  &:hover {
    background: #7c5cff1f;
  }
}

.dropdownVisible {
  visibility: visible;
  opacity: 1;
}

.dropdownHidden {
  visibility: hidden;
  opacity: 0;
}