$dark-cream-14: rgba(255, 224, 149, 14%) !default;
$light-salmon-20: rgba(255, 159, 153, 20%) !default;
$peach-20: rgba(255, 204, 141, 20%) !default;
$white-0: rgba(255, 255, 255, 0%) !default;
$light-grays-500: rgba(115, 117, 124, 5%) !default;
$light-pink-200: rgb(248, 89, 114) !default;
$purple-light-200: rgb(86, 104, 254) !default;
$emerald-600-s: rgb(21, 203, 157) !default;
$grey-800: rgb(38, 39, 42) !default;
$black: rgb(33, 33, 33) !default;
$white-two: rgb(216, 216, 216) !default;
$grays-50: rgb(250, 250, 250) !default;
$grays-500: rgb(115, 117, 124) !default;
$grey-300: rgb(212, 213, 217) !default;
$grey-200: rgb(229, 230, 232) !default;
$grey-600: rgb(82, 84, 90) !default;
$indigo-500: rgb(124, 92, 255) !default;
$pink: rgb(194, 52, 229) !default;
$emerald-01-solid-emerald-700: rgb(0, 147, 105) !default;
$white-four: rgb(246, 246, 246) !default;
$black-two: rgb(38, 38, 38) !default;
$light-salmon: rgb(255, 159, 153) !default;
$peach: rgb(255, 204, 141) !default;
$green-blue-two: rgb(0, 173, 122) !default;
$emerald-500: rgb(60, 221, 181) !default;
$warm-grey: rgb(117, 117, 117) !default;
$pale-olive-green: rgb(146, 212, 141) !default;
$amber-400-t: rgb(255, 200, 136) !default;
$error-300-t: rgb(255, 159, 176) !default;
$light-peach: rgb(255, 199, 179) !default;
$salmon: rgb(96, 96, 96) !default;
$hospital-green: rgb(165, 222, 186) !default;
$fill-13-success-500: rgb(21, 204, 152) !default;
$purple: rgb(185, 185, 254) !default;
$solid-blue-600: rgb(53, 67, 234) !default;
$purple-2: rgb(86, 104, 254) !default;
$purple-light: rgb(134, 141, 255) !default;
$pale-grey: rgb(245, 245, 246) !default;
$greenish-teal: rgb(52, 202, 167) !default;
$purple-3: rgb(95, 54, 234) !default;
$fuchsia-500: rgb(217, 89, 248) !default;
$emerald-600: rgb(3, 175, 134) !default;
$orange-500: rgb(251, 151, 64) !default;
$yellow-500: rgb(246, 194, 105) !default;
$light-gray: rgb(248, 249, 249) !default;
$light-pink: rgb(248, 89, 114) !default;
