@font-face {
  font-family: Moranga;
  src: local(Moranga-Medium sans-serif),
    url("/src/assets/fonts/Moranga-Medium.woff2") format("woff2"),
    url("/src/assets/fonts/Moranga-Medium.woff") format("woff");
}

@font-face {
  font-family: Moranga Regular;
  src: local(Moranga-Regular sans-serif),
    url("/src/assets/fonts/Moranga-Regular.woff") format("woff");
}

@font-face {
  font-family: AvenirNextRoundedPro-Demi;
  src: local(AvenirNextRoundedPro-Demi),
    url("/src/assets/fonts/avenirnextroundedpro-demi.woff") format("woff");
}

@font-face {
  font-family: AvenirNextRoundedPro-Med;
  src: local(AvenirNextRoundedPro-Med sans-serif),
    url("/src/assets/fonts/AvenirNextRoundedPro-Med.woff2") format("woff2"),
    url("/src/assets/fonts/AvenirNextRoundedPro-Med.woff") format("woff");
}

@font-face {
  font-family: AvenirNextRoundedPro-Reg;
  src: local(AvenirNextRoundedPro-Reg sans-serif),
    url("/src/assets/fonts/AvenirNextRoundedPro-Reg.woff2") format("woff2"),
    url("/src/assets/fonts/AvenirNextRoundedPro-Reg.woff") format("woff");
}

@font-face {
  font-family: AvenirNextRoundedPro-Bold;
  src: local(AvenirNextRoundedPro-Bold sans-serif),
    url("/src/assets/fonts/AvenirNextRoundedPro-Bold.otf") format("otf"),
    url("/src/assets/fonts/AvenirNextRoundedPro-Bold.woff") format("woff");
}