@use 'src/assets/styles/variables';

.treesAreaImg {
  position: absolute;
  object-fit: contain;
  z-index: variables.$low-order;
}

.treesArea {
  position: absolute;
  top: 22px;
  right: 82px;
  left: 400px;
}

.treesArea1 {
  top: -195px;
  right: 26px;
  max-height: 926px;
}

.treesArea2 {
  transform: rotate(-722deg);
  top: -124px;
  right: 101px;
  max-height: 823px;
}

.treesArea3 {
  top: -38px;
  right: 165px;
  max-height: 712px;
}

.treesArea4 {
  top: 78px;
  right: 224px;
  max-height: 403px;
}

.treesArea5 {
  top: 141px;
  right: 263px;
  max-height: 289px;
}

.treesArea6 {
  top: 200px;
  right: 295px;
  max-height: 185px;
}

.treesArea7 {
  top: 370px;
  right: 526px;
  max-height: 239px;
}

.treesArea8 {
  top: 415px;
  right: 558px;
  max-height: 160px;
}

.treesArea9 {
  top: 452px;
  right: 588px;
  max-height: 92px;
}

.tree {
  position: absolute;
  width: 76px;
  height: 76px;
  z-index: variables.$higher-order;
  transition: 0.2s ease-in-out;
}

.tree1 {
  position: absolute;
  width: 88px;
  height: 88px;
  right: 186px;
  top: 341px;
}

.tree2 {
  height: 67px;
  width: 92px;
  right: 390px;
  top: 458px;
}

.tree3 {
  right: 416px;
  top: 296px;
  width: 130px;
  height: 122px;
}

.tree4 {
  right: 148px;
  top: 176px;
  width: 114px;
  height: 114px;
}

.tree5 {
  right: 362px;
  top: 87px;
  width: 58px;
  height: 58px;
}

.tree6 {
  width: 60px;
  right: 482px;
  height: 60px;
  top: 192px;
}

.tree7 {
  right: 310px;
  top: 212px;
  width: 78px;
  height: 74px;
}

.tree8 {
  position: absolute;
  width: 70px;
  height: 68px;
  right: 662px;
  top: 380px;
}

.tree9 {
  right: 248px;
  top: 78px;
  width: 54px;
  height: 54px;
}

.tree10 {
  top: 554px;
  right: 570px;
  width: 88px;
}

