@use 'src/assets/styles/variables';

.treesAreaImg {
  position: absolute;
  object-fit: contain;
  z-index: variables.$low-order;
}

.treesArea {
  position: absolute;
  right: 0;
  top: 0;
}

$screen-width: 1392;
@function px-to-vw($value) {
  @return ($value * 100) / $screen-width + vw;
}
.treesArea1 {
  right: 0;
  max-height: px-to-vw(720);
}

.tree {
  position: absolute;
  width: 76px;
  height: 76px;
  z-index: variables.$higher-order;
  transition: 0.2s ease-in-out;
}


.tree1 {
  position: absolute;
  width:  px-to-vw(88);
  height:  px-to-vw(88);
  right: px-to-vw(95);
  top:  px-to-vw(335);
}
.tree2 {
  height: px-to-vw(68);
  width: px-to-vw(92);
  right: px-to-vw(294);
  top: px-to-vw(455);
}

.tree3 {
  right:   px-to-vw(325);
  top:  px-to-vw(296);
  width:  px-to-vw(130);
  height:  px-to-vw(122);
}

.tree4 {
  right:  px-to-vw(54);
  top:  px-to-vw(166);
  width:  px-to-vw(121);
  height:  px-to-vw(121);
}

.tree5 {
  right:  px-to-vw(274);
  top:  px-to-vw(108);
  width:  px-to-vw(58);
  height:  px-to-vw(58);
}

.tree6 {
  width:  px-to-vw(60);
  right:  px-to-vw(396);
  height:  px-to-vw(60);
  top:  px-to-vw(192);
}

.tree7 {
  right:  px-to-vw(220);
  top:  px-to-vw(208);
  width:  px-to-vw(78);
  height:  px-to-vw(74);
}

.tree8 {
  position: absolute;
  width:  px-to-vw(70);
  height:  px-to-vw(68);
  right:  px-to-vw(546);
  top:  px-to-vw(382);
}

.tree9 {
  right:  px-to-vw(652);
  top:  px-to-vw(493);
  width:  px-to-vw(64);
  height:  px-to-vw(54);
}

.tree10 {
  top:  px-to-vw(554);
  right:  px-to-vw(472);
  width:  px-to-vw(88);
}
@media (min-width: 1392px) {
  .treesArea1 {
    max-height: 720px;
  }
  .tree1 {
    position: absolute;
    width: 88px;
    height: 88px;
    right: 95px;
    top: 335px;
  }
  .tree2 {
    height: 68px;
    width: 92px;
    right: 294px;
    top: 455px;
  }
  
  .tree3 {
    right: 325px;
    top: 296px;
    width: 130px;
    height: 122px;
  }
  
  .tree4 {
    right: 54px;
    top: 166px;
    width: 121px;
    height: 121px;
  }
  
  .tree5 {
    right: 274px;
    top: 108px;
    width: 58px;
    height: 58px;
  }
  
  .tree6 {
    width: 60px;
    right: 396px;
    height: 60px;
    top: 192px;
  }
  
  .tree7 {
    right: 220px;
    top: 208px;
    width: 78px;
    height: 74px;
  }
  
  .tree8 {
    width: 70px;
    height: 68px;
    right: 546px;
    top: 382px;
  }
  .tree9 {
    right: 652px;
    top: 493px;
    width: 64px;
    height: 54px;
  }
  
  .tree10 {
    top: 554px;
    right: 472px;
    width: 88px;
  }
}
