@use "/src/assets/styles/theme";
@use "/src/assets/styles/variables";

.headerContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 1.2em 88px 1em;
  position: absolute;
  width: 100%;
  max-width: 1392px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.wrongModalContainer {
  width: 488px;
  height: 328px;
  margin: 20px 48px 0 0;
  padding: 0 16px 16px;
  border-radius: 24px;
}

.menuContainer {
  display: flex;
  align-items: center;
  z-index: variables.$higher-order;
  padding: 0 10px;
}

