.headerContainer {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1.2em;
  padding-top: 2.4em;
  justify-content: space-between;
}

.loginBtn {
  width: 130px;
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  border-radius: 13px;
  color: #05b581;
  border: 1px solid #05b581;
  cursor: pointer;
}

.wrongModalContainer {
  width: 488px;
  height: 328px;
  margin: 20px 48px 0 0;
  padding: 0 16px 16px;
  border-radius: 24px;
}
