.container {
  max-width: 1240px;
  margin: auto;
  padding-bottom: 2.4em;
}

.plantingFormWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.select {
  width: 512px;
}