.container {
  max-width: 1240px;
  margin: auto;
  padding-bottom: 2.4em;
}

.mockInfo {
  max-width: 1288px;
  min-width: 1000px;
  height: 640px;
  margin: 0 0 8px;
  border-radius: 32px;
  background-color: #d8d8d8;
}