@use '../theme';


.footerContainer {
  margin: 34px 0 0;
  padding: 70px 0 160px;
  background-color: theme.$white;
}

.opened {
  font-family: AvenirNextRoundedPro-Med, sans-serif;
  transition: 0.35s linear;
  font-size: 18px;
  cursor: default;
}

.footerContent {
  position: relative;
  max-width: 1064px;
  margin: auto;
  font-family: AvenirNextRoundedPro-Reg, sans-serif;
}

.footerTitle {
  color: theme.$grays-500;
  padding-bottom: 1em;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: normal;
  font-family: Moranga, sans-serif;
}

.footerPlant {
  position: absolute;
  right: -135px;
  top: 285px;
  width: 322px;
  z-index: 9;
  height: 342px;
  pointer-events: none;
}

.tabAdditionalBlockContainer {
  padding: 42px 0 42px 22px;
}

.tabMainBlock {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.tabAdditionalBlock {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.additionalRightPull {
  width: 420px;
  height: 72px;
  margin: 36px 0 36px 30px;
  font-family: AvenirNextRoundedPro-Reg, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: theme.$grey-800
}

.correctionStyle {
  margin: 36px 0 36px 24px;
}