@use '../theme';

.card-header {
  display: flex;
  justify-content: space-between;
  font-family: AvenirNextRoundedPro-Reg, sans-serif;
  background: theme.$white !important;
  border: none !important;
  height: 64px;
}

.card-body {
  margin: 4px 140px 40px 42px
}

.card {
  border: none !important;
  margin-bottom: 3px !important;
  background: theme.$white !important;
}

.collapsing, .show {
  background: theme.$white;
  margin-top: 4px;
}

.accordionHeader {
  font-family: AvenirNextRoundedPro-Reg, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  color: theme.$grey-800;
}

.accordionText {
  padding: 1.25rem 2.6em;
  transition: 0.3s linear;
  font-family: AvenirNextRoundedPro-Reg, sans-serif;
  font-size: 18px;
  line-height: 2.1;
  cursor: default;
  color: theme.$grey-800;
}