@use "src/assets/styles/theme";
@use "src/assets/styles/variables";

.main {
  background-color: gray;
  height: 100%;
  min-width: 1280px;
}

.backgroundGradient {
  position: absolute;
  top: 0;
  width: 100%;
  height: 600px;
  z-index: 0;
}

.wrapper {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  padding: 0 80px;
  width: 1280px;
}

.outsideWalletItem {
  width: 24px;
  margin-left: 24px;
  cursor: pointer;
}

.header {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
}

.right {
  display: flex;
}

.notificationButton {
  margin-left: 16px;
}

.menuButton {
  margin-left: 4px;
}

.walletContainer {
  display: flex;
  align-items: center;
  padding: 0 40px;
  position: relative;
  z-index: variables.$higher-order;
}

.wrongNetworkContainer {
  background: theme.$white;
  color: darkred;
  padding: 10px 20px;
  border-radius: 8px;
}