@use '../../styles/theme';
@use '../../styles/variables';

.headerContainer {
  display: flex;
  align-items: center;
}

.logoTitle {
  width: 100%;
  font-family: AvenirNextRoundedPro-Demi, sans-serif;
  font-size: 24px;
  letter-spacing: -1px;
  color: theme.$black;
}

.treeIcon {
  user-select: none;
  cursor: pointer;
  padding-top: 8px;
  margin-left: -8px;
  width: 64px;
  height: 64px;
}

.logoDescription {
  font-size: 1em;
  font-family: AvenirNextRoundedPro-Reg, sans-serif;
  font-style: normal;
  line-height: 1.38;
  font-weight: 100;
  color: theme.$grays-500;
}

.disabledLink {
  pointer-events: none;
}

.contentBlock {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.invisible {
  visibility: hidden;
}
