@use '/src/styles/theme';
@use '/src/styles/variables';
@use '/src/styles/mixins';

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.2em;
  padding-bottom: 1em;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;

  @include mixins.media-to-sm {
    position: relative;
    background: theme.$grays-50;
  }
}

.wallet {
  @include mixins.media-to-sm {
    margin-right: 14px;
  }
}

.wrongModalContainer {
  width: 488px;
  height: 328px;
  margin: 20px 48px 0 0;
  padding: 0 16px 16px;
  border-radius: 24px;
}

.kebabContainer {
  display: flex;
  align-items: center;
  z-index: variables.$higher-order;
}

.right {
  display: flex;
  height: 40px;
  z-index: variables.$higher-order;

  .balance {
    margin-left: 14px;
  }

  .balanceRightSeparator {
    margin-left: 14px;
  }
}
