@use '../../assets/styles/variables';
@use '../../assets/styles/theme';

.cardContainer {
  width: calc(50% - 36px);
  position: relative;
  perspective: 2000px;
  cursor: pointer;

  &.showBack {

    .cdTimelineContent {
      transform: rotateY(180deg);
    }

    .backSide {
      cursor: auto;
      transform: rotateY(0deg) translateY(-50%);
    }
  }
}

.cdTimelineContent {
  transition: .5s;
  backface-visibility: hidden;
}

.linked {
  color: theme.$emerald-600;

  &:hover {
    color: theme.$emerald-600;
  }
}

.cdTimeline {
  overflow: hidden;
  padding: 1em 0;
  color: red;
  background-color: theme.$purple-light;

  h2 {
    font-weight: 700;
  }

  &Container {
    position: relative;
    padding: calc(1.25 * 1.25em) 0;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 2 * 1.25 * 1.25em);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      width: 1px;
      background: theme.$grey-300;
    }
  }

  &Content {
    text-align: right;
    display: flex;
    position: relative;
    flex-grow: 0;
    will-change: transform;
    font-size: 0.8em;
    --line-height-multiplier: 1.2;
    border-radius: 160px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.01), 0 1px 2px 0 rgba(0, 0, 0, 0.01),
      0 2px 4px 0 rgba(0, 0, 0, 0.02), 0 4px 4px -1px rgba(0, 0, 0, 0.02),
      0 8px 12px -2px rgba(0, 0, 0, 0.02);
    background-color: theme.$white;

    &Container {
      display: flex;
    }

    p {
      font-size: 20px;
      font-weight: bold;
      line-height: 1.4;
      text-align: right;
      color: theme.$grey-800;
      margin: 7px 0 4px 0;
    }

    h2 {
      color: black;
    }
  }

  &Img {
    -ms-flex-order: 1;
    order: 1;
    position: absolute;
    margin-left: calc(50% - 12px);
    will-change: transform;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    img {
      width: 24px;
      height: 24px;
    }
  }

  &Block {
    display: flex;
    position: relative;
    z-index: 1;
    margin-bottom: calc(2 * 1.25em);
    align-items: center;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &Date {
    color: theme.$grays-500;
    font-family: AvenirNextRoundedPro-Med, sans-serif;
    font-size: 12px;
  }
}

.arrowLeft:before {
  // triangle next to content block
  content: '';
  position: absolute;
  right: 100%;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-right-color: #fff;
  top: calc(50% - 7px);
}

.arrowRight:before {
  right: auto;
  content: '';
  position: absolute;
  left: 100%;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-left-color: #fff;
  top: calc(50% - 7px);
}

.btn {
  font-family: AvenirNextRoundedPro-Med, sans-serif;
  font-size: 16px;
  color: theme.$emerald-600;
}

.btn:hover {
  text-decoration: none;
  color: theme.$emerald-600;
}

.disabledText {
  pointer-events: none;
  color: theme.$grays-500;
  font-family: AvenirNextRoundedPro-Reg, sans-serif;
  font-size: 16px;

  &:hover {
    text-decoration: none;
    color: theme.$grays-500;
  }
}

.colorContrastMedium {
  font-family: AvenirNextRoundedPro-Bold, sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: theme.$grey-800;
}

.cdTimelineContentText {
  font-family: AvenirNextRoundedPro-Demi, sans-serif;
  font-size: 20px;
  color: theme.$grey-800;
}

.reverse {
  flex-direction: row-reverse;

  .cdTimeline {
    &Img {
      margin-left: 0 !important;
      margin-right: calc(50% - 12px);
    }

    &Content {
      text-align: left !important;
      display: block !important;

      p {
        text-align: left !important;
      }
    }
  }
}

.timelineContentImgMd {
  max-width: 116px;
  height: 116px;
  object-fit: contain;
  padding-top: 24px;
  min-width: 112px;
  border-radius: 50%;
  background: theme.$pale-grey;
}

.mdCardImgContainer {
  padding-left: 12px;
}

.timelineContentImgSm {
  align-items: center;
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin-top: 27px;
  object-fit: contain;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.01), 0 1px 2px 0 rgba(0, 0, 0, 0.01),
    0 2px 4px 0 rgba(0, 0, 0, 0.02), 0 4px 4px -1px rgba(0, 0, 0, 0.02),
    0 8px 12px -2px rgba(0, 0, 0, 0.02);
}

.timelineBase img {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  top: 100%;
}

.greyDot {
  border-radius: 32px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 16px;
  height: 16px;
  background: theme.$grey-200;
  top: -26px;
}

.xs {
  max-width: 320px;
}

.sm {
  max-width: 448px;
  border-radius: 20px;
  padding: 24px;
}

.md {
  display: flex;
  align-items: center;
  max-width: 498px;
  border-radius: 160px;
  padding: 8px 12px;
  margin-left: auto;
}

.lg {
  max-width: 600px;
}

.backSide {
  position: absolute;
  left: 0;
  top: 50%;
  font-size: 40px;
  transform: rotateY(-180deg) translateY(-50%);
  transition: .5s;
  backface-visibility: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: theme.$white;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 1%), 0 1px 2px 0 rgb(0 0 0 / 1%),
    0 2px 4px 0 rgb(0 0 0 / 2%), 0 4px 4px -1px rgb(0 0 0 / 2%),
    0 8px 12px -2px rgb(0 0 0 / 2%);

  &::after {
    content: '';
    position: absolute;
    top: calc(50% - 7px);
    left: -14px;
    width: 0px;
    height: 0px;
    border: 7px solid transparent;
    border-right-color: theme.$white;
    z-index: 999;
  }

  span {
    font-family: AvenirNextRoundedPro-Med, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: theme.$grays-500;
    margin-bottom: 8px;
  }

  h2 {
    font-size: 20px;
    font-family: AvenirNextRoundedPro-Bold, sans-serif;
    color: theme.$grey-800;
    font-weight: bold;
    margin-bottom: 0px;
  }

  p {
    font-size: 16px;
    color: theme.$grays-500;
    font-family: AvenirNextRoundedPro-Reg, sans-serif;
    letter-spacing: -0.1px;
    margin-bottom: 16px;
  }

  button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    font-family: AvenirNextRoundedPro-Med, sans-serif;
    color: theme.$emerald-600;
    width: fit-content;
    padding: 0;
  }

  .backSideInfo {
    display: flex;
    flex-direction: column;
  }
}