@use 'src/styles/theme';
@use 'src/styles/mixins';

.container {
  user-select: none;
  border-radius: 160px;

  .btnPrimary {
    font-size: 18px;
    padding-left: 24px;
    align-items: center;

    .image {
      margin: 0 0 0 10px;
      width: 24px;

      @include mixins.media-to-lg {
        width: 16px;
      }
    }
  }

  @include mixins.media-to-xs {
    display: flex;
    justify-content: center;
  }
}

.spinner {
  margin-left: 10px;
}

.btnPrimary {
  color: white;
  padding: 19.5px 26px;
  font-family: AvenirNextRoundedPro-Demi, serif;
  border-radius: 160px;
  box-shadow:
    0 1px 4px 0 rgba(0, 0, 0, 6%),
    0 1px 2px 0 rgba(0, 0, 0, 4%),
    inset 0 -1px 0 0 #009369;
  background-image: linear-gradient(#3ecc78 0%, #03af86 100%);
  cursor: pointer;
  font-size: 18px;
  border: none;
  transition: 0.3s ease-out;

  &:hover {
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 6%), 0 1px 2px 0 rgb(0 0 0 / 4%), inset 0 -1px 0 0 #007453;
    background-image: linear-gradient(#38dc7b 0%, #00b98d 100%);
  }

  &.disabled {
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 6%), 0 1px 2px 0 rgb(0 0 0 / 4%), inset 0 -1px 0 0 #00936900;
    background-image: linear-gradient(#3ecc7887 0%, #03af8678 100%);
    cursor: default;
  }

  @include mixins.media-to-md {
    padding: calc(12px + 0.4vw) calc(18px + 0.4vw);
  }
}
