@use '../../assets/styles/theme';

.container {
  user-select: none;
  display: flex;
  margin: 33px 62px 0 0;
  border-radius: 160px;

  &.small {
    margin: 20px 62px 0 0;

    .btnPrimary {
      font-size: 18px;
      padding-left: 24px;

      .image {
        margin: 0 0 0 10px;
      }
    }
  }
}

.image {
  margin: 0 8px 0 12px;
  width: 24px;
}

.btnPrimary {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  color: theme.$white;
  padding: 0 22px;
  padding-left: 30px;
  width: fit-content;
  height: 64px;
  font-family: AvenirNextRoundedPro-Demi, serif;
  border-radius: 160px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 2px 0 rgba(0, 0, 0, 0.04),
    inset 0 -1px 0 0 #009369;
  background-image: linear-gradient(#3ecc78 0%, #03af86 100%);
  cursor: pointer;
  font-size: 18px;
  border: none;
}