@use '/src/styles/theme';
@use '/src/styles/mixins';

.footerContainer {
  background-color: theme.$grays-50;
  padding-top: 50px;
  padding-bottom: 60px;

  @include mixins.media-to-md {
    padding-bottom: 100px;
  }
}

.footerContent {
  position: relative;
  max-width: 1216px;
  margin: auto;
  font-family: AvenirNextRoundedPro-Reg, sans-serif;
}

.footerTitle {
  color: theme.$grey-800;
  padding-bottom: 1em;
  font-size: 28px;
  font-weight: normal;
  line-height: 1.33;
  letter-spacing: normal;
  font-family: Moranga-Medium, sans-serif;
}

.footerPlant {
  position: absolute;
  right: -135px;
  top: 285px;
  width: 322px;
  z-index: 9;
  height: 342px;
  pointer-events: none;
}
