@use '../../assets/styles/theme';


.footerContainer {
  margin: 34px 0 0;
  padding: 52px 88px 126px;
  background-color: theme.$grays-50;
}

.footerContent {
  position: relative;
  max-width: 1216px;
  margin: auto;
  font-family: AvenirNextRoundedPro-Reg, sans-serif;
}

.footerTitle {
  color: theme.$grey-800;
  padding-bottom: 1em;
  font-size: 28px;
  font-weight: normal;
  line-height: 1.33;
  letter-spacing: normal;
  font-family: Moranga, sans-serif;
}

.footerPlant {
  position: absolute;
  right: -135px;
  top: 285px;
  width: 322px;
  z-index: 9;
  height: 342px;
  pointer-events: none;

}