@use '/src/styles/theme';
@use '/src/styles/variables';

.soilFooterWithContactsContainer {
  display: flex;
  align-items: center;
  position: relative;
  background-color: theme.$grays-50;
  background-image: url('@/assets/images/bitmap-soil.png');
  background-size: 366px 192px;
  height: 100px;
  object-fit: contain;
}

.soilFooterContent {
  width: 100%;
  max-width: 1392px;
  padding: 0 88px;
  margin: auto;
  display: flex;
}

.footerPlant {
  position: absolute;
  width: 293px;
  height: 306px;
  pointer-events: none;
  margin: auto;
  left: 855px;
  right: 0;
  bottom: 20px;
  z-index: variables.$medium-order;
}

.logoIcon {
  width: 32px;
  height: 32px;
}

@media (max-width: 1392px) {
  .footerPlant {
    left: auto;
    right: 120px;
  }
}

.leftPull {
  display: flex;
  align-items: center;
  padding-top: 18px;
  z-index: variables.$higher-order;
  font-family: AvenirNextRoundedPro-Med, sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.socialItem {
  cursor: pointer;
}

.socialItem:nth-child(1) img {
  margin-right: 24px;
}

.socialItem:nth-child(2) img {
  margin-right: 36px;
}

.leftPullText {
  color: theme.$grays-50;
  padding-left: 12px;

  &:hover {
    transition: color 0.2s;
    color: theme.$emerald-500;
  }
}
