@use '/src/assets/styles/variables';
@use '/src/assets/styles/theme';

.focused {
  box-shadow: 0 0 0 4px rgba(86, 104, 254, 0.2) !important;
  border: 1px solid #5668fe !important;
}

.dropdown {
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  background-color: white;
  border: solid 2px #fff;
  position: relative;
  transition: all .1s;
}

.dropdownHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  height: 80px;
  font-size: 20px;
  cursor: pointer;
}

.dropdownHeaderContent {
  display: flex;
  align-items: center;
}

.dropdownBody {
  display: none;
  position: absolute;
  border-top: 1px solid #E5E8EC;
  background: white;
  width: 100%;
  top: 80px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgb(0 0 0 / 10%);
}

.dropdownBodyOpen {
  display: block;
}

.dropdownItem {
  display: flex;
  align-items: center;
  padding: 16px;
}

.dropdownItem:hover {
  cursor: pointer;
  background-color: theme.$pale-grey;
}

.dropdownItemPrefix {
  width: 64px;
  height: 64px;
  margin: 0 12px 0 0;
  border-radius: 160px;
  background-position: center;
}

.dropdownHeaderPrefix {
  width: 56px;
  height: 56px;
  margin: 0 12px 0 0;
  border-radius: 160px;
  background-position: center;
}

.dropdown-item-dot {
  opacity: 0;
  color: #91A5BE;
  transition: all .2s ease-in-out;
}

.dropdownItem-dot.selected {
  opacity: 1;
}

.icon {
  font-size: 13px;
  color: #91A5BE;
  transform: rotate(0deg);
  transition: all .2s ease-in-out;
}

.icon.open {
  transform: rotate(90deg);
}

.dropDownArrow {
  transition: all .2s ease-in-out;
}

.availableCount {
  color: theme.$grey-600;
  font-family: AvenirNextRoundedPro-Reg, sans-serif;
  font-size: 14px;
  display: flex;
}

.dropdownLabel {
  font-family: AvenirNextRoundedPro-Med, sans-serif;
  font-size: 16px;
  color: theme.$grey-800;
}