$dark-cream-14:                              rgba(255, 224, 149, 0.14) !default;
$light-gold-55:                              rgba(255, 206, 89, 0.55)  !default;
$light-salmon-20:                            rgba(255, 159, 153, 0.2)  !default;
$peach-20:                                   rgba(255, 204, 141, 0.2)  !default;
$white-0:                                    rgba(255, 255, 255, 0)    !default;
$light-grays-500:                            rgba(115, 117, 124, 0.05) !default;
$purple-super-light:                        #5668fe0f!default;
$white:                                      #ffffff  !default;
$black:                                      #000000  !default;
$emerald-600-s:                              #15cb9d !default;
$grey-800:                                   #26272a !default;
$grays-000-white:                            #ffffff !default;
$black:                                      #212121 !default;
$white-two:                                  #d8d8d8 !default;
$grays-50:                                   #fafafa !default;
$grays-500:                                  #73757c !default;
$grey-300:                                   #d4d5d9 !default;
$grey-200:                                   #e5e6e8 !default;
$grey-600:                                   #52545a !default;
$indigo-500:                                 #7c5cff !default;
$pink:                                       #c234e5 !default;
$emerald-01-solid-emerald-700:               #009369 !default;
$white-four:                                 #f6f6f6 !default;
$black-two:                                  #262626 !default;
$light-salmon:                               #ff9f99 !default;
$peach:                                      #ffcc8d !default;
$green-blue-two:                             #00ad7a !default;
$emerald-500:                                #3cddb5 !default;
$warm-grey:                                  #757575 !default;
$pale-olive-green:                           #92d48d !default;
$amber-400-t:                                #ffc888 !default;
$error-300-t:                                #ff9fb0 !default;
$light-peach:                                #ffc7b3 !default;
$salmon:                                     #ff7574 !default;
$hospital-green:                             #a5deba !default;
$fill-20-white-grey-black-000-white:         #ffffff !default;
$fill-13-success-500:                        #15cc98 !default;
$purple:                                     #b9b9fe !default;
$solid-blue-600:                             #3543ea !default;
$purple-2:                                   #5668fe !default;
$purple-light:                               #868dff !default;
$purple-light-200:                           #5668fe33 !default;
$pale-grey:                                  #f5f5f6 !default;
$greenish-teal:                              #34caa7 !default;
$purple-3:                                   #5f36ea !default;
$fuchsia-500:                                #d959f8 !default;
$emerald-600:                                #03af86 !default;
$orange-500:                                 #FB9740 !default;
$yellow-500:                                 #F6C269 !default;
$light-gray:                                 #f8f9f9 !default;
$light-pink:                                 #f85972 !default;
$light-pink-200:                             #f8597233 !default;

