@import "theme";

// Body
//
// Settings for the `<body>` element.
$body-bg: #fafafb !default;
$body-color: #fafafa !default;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;

// Define the width of timeline cards,
$timeline-sizes: (
        xs: 320,
        sm: 428px,
        md: 501px,
        lg: 600px,
) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1400px
) !default;


// z-indexes values
//
$low-order: -1;
$medium-order: 1;
$higher-order: 999;



