@use 'src/styles/theme';
@use 'src/styles/mixins';

.collapsing,
.show {
  background: white;
  margin-top: 4px;
}

.tabAdditionalBlockContainer {
  padding: 42px 0 42px 22px;

  @include mixins.media-to-xs {
    padding: 0;
  }
}

.opened {
  font-family: AvenirNextRoundedPro-Med, sans-serif;
  transition: 0.35s linear;
  font-weight: 800;
}

.tabAdditionalBlock {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  @include mixins.media-to-xs {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.additionalRightPull {
  width: 420px;
  height: 72px;
  margin: 36px 0 36px 40px;
  font-family: AvenirNextRoundedPro-Reg, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  color: theme.$grey-800;
  text-align: center;

  @include mixins.media-to-xs {
    margin: 0;
    font-size: calc(8px + 2vw);
    height: auto;
    width: 100%;
  }
}

.additionalLeftPull {
  max-width: 118px;
}

.abstractIcon {
  @include mixins.media-to-xs {
    max-width: 24vw;
    margin: 20px 0;
  }
}

.tabMainBlock {
  font-size: 20px;
  line-height: 1.4;
  padding-top: 10px;

  @include mixins.media-to-xs {
    font-size: calc(10px + 2vw);
    text-align: justify;
  }
}
