@use 'src/assets/styles/theme';

.card-header {
  display: flex;
  justify-content: space-between;
  font-family: AvenirNextRoundedPro-Reg, sans-serif;
  background: theme.$white !important;
  border: none !important;
  height: 64px;
}

.card-body {
  margin: 4px 140px 40px 42px !important;
}

.secondAccordionTitle {
  display: inline;
  width: 100%;
  padding: 16px 0;
}

.collapsing, .show {
  background: theme.$white;
  margin-top: 4px;
}

.accordionHeader {
  font-family: AvenirNextRoundedPro-Reg, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  color: theme.$grey-800;
}

.accordionText {
  padding: 1.25rem 2.6em;
  transition: 0.3s linear;
  font-family: AvenirNextRoundedPro-Reg, sans-serif;
  line-height: 2.1;
  cursor: default;
  color: theme.$grey-800;
  font-weight: 900
}

.tabAdditionalBlockContainer {
  padding: 42px 0 42px 22px;
}

.opened {
  font-family: AvenirNextRoundedPro-Med, sans-serif;
  transition: 0.35s linear;
  cursor: default;
  font-weight: 800;
}

.tabAdditionalBlock {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.additionalRightPull {
  width: 420px;
  height: 72px;
  margin: 36px 0 36px 40px;
  font-family: AvenirNextRoundedPro-Reg, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: theme.$grey-800
}

.correctionStyle {
  margin: 36px 0 36px 35px;
}

.tabMainBlock {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  padding-top: 10px;
}
