@use 'src/styles/theme';
@use 'src/styles/mixins';

.container {
  max-width: 446px;
  padding-top: 9.1rem;

  @include mixins.media-to-sm {
    font-size: calc(12px + 2vw);
    padding-top: 20px;
    max-width: none;
  }

  @include mixins.media-to-xs {
    max-width: 348px;
    text-align: center;
    margin: auto;
  }
}

.text {
  height: 160px;
  margin: 0 0 35px;
  font-family: 'Moranga Regular', sans-serif;
  font-size: 28px;
  letter-spacing: 0.1px;
  color: theme.$grey-800;

  @include mixins.media-to-sm {
    font-size: calc(14px + 2vw);
  }

  @include mixins.media-to-xs {
    font-size: calc(16px + 2vw);
  }
}

.primary {
  color: theme.$emerald-600-s;
}
